body{
    background-image: url(../ProjetoAlessandraM2/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.container{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;

}
.form-check-label{
    color:white;
}
.display-4{
    color: black;

}
.titulo{
    background-color: aqua;
}
.btn{
    background-color: aqua;
}
.lead{
    background-color: aqua;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    width: 95%;
    margin-left: 2.5%;
}